@font-face {
    font-family: 'pokemon-font';
    src: url('../font/poke-fonts/fonts/pokemon-font.eot'); /* IE9 Compat Modes */
    src: url('../fonts/pokemon-font.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../font/poke-fonts/fonts/pokemon-font.woff2') format('woff2'), /* Super Modern Browsers */
         url('../font/poke-fonts/fonts/pokemon-font.woff') format('woff'), /* Pretty Modern Browsers */
         url('../font/poke-fonts/fonts/pokemon-font.ttf')  format('truetype') /* Safari, Android, iOS */
    /* There is no SVG version of this font due to support being dropped in SVG 2 */
  }

*{
    text-decoration: none;
}
.poke-title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
}
html {
    background-image: url('../images/poke-background.jpg');
    background-size: 100% auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 200px;

}

body {
    margin: 0;
}

container {
    margin: auto;
}

#title {
    text-align: center;
    font-family: 'pokemon-font';
    font-size: 32px;
    margin: 10px;
}

#timer {
    text-align: center;
    font-family: 'pokemon-font';
    margin: 10px;
    padding: 10px;
}

#question {
    text-align: center;
    font-family: 'pokemon-font';
    font-size: 16px;
    margin: 10px;
    line-height: 1.5;

}

#answers{
    margin: 0 auto;
    width:800px;
    height:400px;
    display:grid;
    grid-template-columns: 400px 400px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    opacity: 0.8;
  }

.box0, .box1, .box2, .box3{
    background-color:#333;
    padding:20px;
    border-radius:10px;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:24px;
    font-family: 'pokemon-font';
  }

.box0:hover, .box1:hover, .box2:hover, .box3:hover {
    background-color: #0CF574;
    color: #1E1E24;
}

/* .box:active {
    background-color: #E54B4B;
    color: #F7EBE8;
} */

button {
    margin: auto;
    display: block;
    font-family: 'pokemon-font';
    border-radius: 4px; 
    padding: 5px;
    margin-top: 20px;
}

button.restart {
    position: block;
    text-align: center;
    margin: 10px auto;
}

#endGame {
    text-align: center;
    margin: 0 auto;
    font-family: 'pokemon-font';
    line-height: 1.5;
}

@media only screen and (max-width: 1000px) {
    /* For mobile phones: */
    #answers {
        margin: 0 auto;
        width:400px;
        height:250px;
        display:grid;
        grid-template-columns: auto auto;
        grid-row: auto auto;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        opacity: 0.8;
    }

    .box0, .box1, .box2, .box3{
        background-color:#333;
        padding:20px;
        border-radius:10px;
        color:#fff;
        display:grid;
        grid-template-columns: auto auto;
        grid-row: auto auto;
        align-items:center;
        justify-content:center;
        font-size:16px;
        font-family: 'pokemon-font';
      }

    html {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.5), 
            rgba(0, 0, 0, 0.5)
          ),
          url('../images/background-sm.png');
        margin: 0;
        background-size: 100% auto;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        color: white
    }
    body {
        margin: 0;
    }
    .loadergif {
        font-family: 'pokemon-font';
        z-index: 2;
        position: absolute;
        top: 45%;
        left: 50%;
        width: 200px;
        height: 125px;
        margin-top: -75px;
        /* Half the height */
        margin-left: -100px;
        /* Half the width */
        border-radius: 10px;
        opacity: 0.9
    }

    .secondgif {
        font-family: 'pokemon-font';
        z-index: 3;
        position: absolute;
        top: 45%;
        left: 50%;
        width: 200px;
        height: 125px;
        margin-top: -75px;
        /* Half the height */
        margin-left: -100px;
        /* Half the width */
        border-radius: 10px;
        opacity: 0.9
    }

    .thirdgif {
        font-family: 'pokemon-font';
        z-index: 4;
        position: absolute;
        top: 45%;
        left: 50%;
        width: 200px;
        height: 125px;
        margin-top: -75px;
        /* Half the height */
        margin-left: -100px;
        /* Half the width */
        border-radius: 10px;
        opacity: 0.9
    }

}
